<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,600" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
  </head>
  <div id="app">
    <div class="row">
      <input v-model.number="num1" type="number">
      <span>+</span>
      <input v-model.number="num2" type="number">
      <span>=</span>
      <span>{{ num1 + num2 }}</span>
    </div>
    <div class="row second">
      <select v-model="name">
        <option v-for="item in items">
          {{ item }}
        </option>
      </select>
      <p v-if="name !== ''">My favorite kind of taco is {{ name }}</p>
    </div>
  </div>
</html>
<script src="./index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
